// COLORES
$color-primario: #456398;
$color-secundario: #198ed7;
$color-terciario: #564;
$color-cancell: #729;
$color-succes: #37a82d;
$color-waring: #897;

// LOGO

// VARIABLES DE PROPIEDADES
$espacio-elementos: 5px;

// IMPORTAMOS BOOTSTRAP
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css");
// RESET CSS
body {
  background-color: lighten($color-primario, 45%);
}

a {
  color: black !important;
}
// FUNCIONES
@mixin logo-style() {
  background-size: contain;
  background-repeat: no-repeat;
}
// CENTRALIZA HORIZONTAL EN ESCRITORIO Y EN VERTICAL EN RESPONSIVE
@mixin orientacion() {
  display: flex;
  align-items: center;
  justify-content: center;
  //   RESPONSIVE
  @media screen and (max-width: 720px) {
    flex-direction: column;
  }
}

@mixin column_center() {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

// CLASES

.header {
  background-color: $color-primario;
}
.bg-body-tertiary {
  background-color:lighten($color-terciario, 30%) !important;
}
.logo {
  @include logo-style();
  width: 50px;
  height: 50px;
}

.logo_bloque {
  @include column_center();
}

.lupa_icon {
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-link:hover {
  color: white !important;
  font-weight: bold;
}


input::placeholder {
  color:white;
}


.presentacion_img {
  height: 600px;
  background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)),url("https://c4.wallpaperflare.com/wallpaper/644/569/83/animales-baby-cachorros-labrados-wallpaper-preview.jpg");  
  background-repeat: no-repeat;
  background-size: cover;
  /* ajusta la imagen sin deformar */
  background-position: center;
  /* centra la imagen */
  @include column_center();
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  .btn-primary {
    background-color: green;
    border: solid 2px;
    border-color: darken(green, 10%);
  }
  @media screen and(max-width:720px){
    max-height:300px;
  }
}

.img-fluid {
    transition:0.7s ease;
  
  &:hover{
    background-color:blue;
    border-radius:50%;
  }
  
}

.footer {
  gap: $espacio-elementos;
  padding: 15px;
  background-color: darken($color-secundario, 10%);
  color:#fff;
}

.imgIconSize {
  width:25px;
  height:25px;
  cursor:pointer;
}